<section>
    <h1><%= @recipe.name %></h1>
    <div class="showContainer">
    <div>
        <p><%= @recipe.preparation_time %></p>
        <p><%= @recipe.cooking_time %></p>
        <p>"Steps go here..."</p>
        <%= link_to "Generate shopping list", recipes_path %>
    </div>

    <div>
        <p>"Public"</p>
        <%= link_to "Add ingredient", recipes_path, class: "ingredientButton" %>
    </div>
</div>

</section>